.services {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #212121;
}
// .about-section {
//     display: flex;
//     justify-content: space-between;
//     flex-wrap: wrap;
// }

.about {
    padding-bottom: 94px;
    padding-top: 94px;
}

.servise-title {
    margin-bottom: 30px;
}

.our-advantage {
    @extend %align;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 25px;  
    background-color: rgb(245 244 250);
    display: flex;
    align-items: center;
    justify-content: center;
}
  @media screen and (min-width: 768px){
    .about-section{
        display: flex;
        justify-content: space-between;
        // margin-right: -30px;
        // // gap: 30px;
    }
  } 
   @media screen and (min-width: 768px) and (max-width: 1199px) {
       .about-section {
           flex-wrap: wrap;}
       }      
    

  @media screen and (min-width: 768px){
    .servise-title {
            width: calc((100% - 60px) / 2);
            margin-right: 30px;
        }
  } 

  @media screen and (min-width: 1200px){
    .servise-title {
            width: calc((100% - 90px) / 4);
            margin-right: 30px;
            margin-bottom: 0px;
        }
  }
   