.command-list-foto {
    @include font($fw: 500, $fs: 16px, $lh: 1.19);
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}


.command-list {
    background: var(--stuff-background-color);
    width: 1600px;
    height: 648px;
    top: 1449px;
}

.command {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    // margin-bottom: 30px;
}

.about-list-foto {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-text-color);
}

.team {
    background-color: var(--stuff-background-color);
    padding-bottom: 60px;
    margin-bottom: 0;
    padding-top: 60px;
    // padding-bottom: 30px;
}

.team-main {

    padding-top: 30px;
    padding-bottom: 30px;
}

.social-list-link {
    @extend %align;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--primary-background-color);
    transition: background-color var(--transition);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        }
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}

.social-list-icon {
    fill: #AFB1B8;
    transition: fill var(--transition);

    .social-list-link:hover &,
    .social-list-link:focus & {
         fill: var(--accent-second-color);
        }
}

.second-title{
        font-weight: 700;
            font-size: 28px;
            line-height: 1.18;
            text-align: center;
            letter-spacing: 0.03em;
            color: rgb(33 33 33);
            margin-bottom: 30px;
        }
// .about-command{
//     display: flex;
//     gap: 30px;
    
// }

// @media screen and (min-width: 768px) {
//    .about-command_cart {
//         width: calc((100% - 60px) / 2);
//         margin-right: 30px;
//         // margin-bottom: gap;
//     }

    .about-command{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        // margin-right: -30px;
        // margin-bottom: -30px;
        }
    
@media screen and (max-width: 767px){
   .about-command_cart:not(:last-child){
    margin-bottom:30px ;

   }
}