.hero-main {
    // height: 400px;
    padding-top: 200px;
    padding-bottom: 200px;
    background: var(--secondary-background-color);
    max-width: 1600px;
    border-radius: 0px;
    // margin: 0 auto;
    text-align: center;
    // padding-top: 200px;
    // padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/herom-480.jpg');
    background-size: cover;
    background-color: #C4C4C4;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;

}

@media screen and (min-device-pixel-ratio:2) and (max-width: 768px),
screen and (min-resolution: 192dpi) and (max-width: 768px),
screen and (min-resolution: 2dppx) and (max-width: 768px) {

  .hero-main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/herom-480@2x.jpg');
  }

}

@media screen and (min-width: 768px) {
  .hero-main{
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url('../images/hero-768.jpg');
  }
  
}

@media screen and (min-device-pixel-ratio:2) and (min-width: 767px),
screen and (min-resolution: 192dpi) and (min-width: 767px),
screen and (min-resolution: 2dppx) and (min-width: 767px) {

  .hero-main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-768@2x.jpg');
  }
}

@media screen and (min-width: 1200px) {
  .hero-main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url('../images/hero-1600.jpg');
  }

}
@media screen and (min-device-pixel-ratio:2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    
  .hero-main {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-1600@2x.jpg');
        }
}

.hero-btn {
  @extend %align;
}

.hero-title {
  @include font($fw: 900, $fs: 24px, $lh: 1.62);
    // width: 696px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;

    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--accent-second-color);
}

@media screen and (min-width: 768px){
  .hero-title {
      width: 360px;
} 
}

@media screen and (min-width: 1200px){
  .hero-title {
      width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
} 

