.second-title {
    margin-bottom: 50px;
    text-align: center;
}

.title-activity {
    @include font();
    letter-spacing: 0.03em;
    text-transform: uppercase;

    .activity & {
        position: absolute;
        bottom: 0;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70px;
        color: var(--accent-second-color);
        background-color: rgb(47, 48, 58, 0.8);
        }
}

.title-activity {
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: rgb(255 255 255);
    background-color: rgb(47 48 58 / 80%);
    width: 100%;
    height: 70px;
}

.activity {
    display: flex;
    gap: 30px;
}

.position {
    position: relative;
}
.section-image {
    padding-bottom: 94px;
}

@media screen and (max-width: 1199px){
    .section-image {
            display: none;
            padding: 94px 0;
        }
} 
@media screen and (min-width: 1200px){
    .padding-image{
        padding-top: 94px 0;
    }
}