.backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity var(--transition), visibility var(--transition);

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;}
}

.modal {
    position: absolute;
    width: 300px;
    min-height: 580px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // width: 450px;
    // height: 609px;
    background-color: var(--primary-background-color);
    padding: 40px;
    // width: 100%;
}

        // padding: 40px;
        // width: 300px;
        // min-height: 580px;
        // background-color: rgb(255 255 255);
        // box-shadow: 0px 1px 3px rgb(0 0 0 / 12%),
        // 0px 1px 1px rgb(0 0 0 / 14%),
        // 0px 2px 1px rgb(0 0 0 / 20%);
        // border-radius: 4px;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: scale(1) translateX(100%);
        // transform: translate(-50%, -50%);
        // transition: transform 1000ms;
        // }

.modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    @extend %align;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #555555;
    padding: 0;
    transition: border-color var(--transition);

    &:hover,
    &:focus {
         border-color: var(--accent-color);}
}

.modal-svg-btn {
    transition: fill var(--transition);

    .modal-close-btn:hover &,
    .modal-close-btn:focus & {
        fill: var(--accent-color);
    }
}
.modal-form-input-desc {
    @include font($fw: 400, $fs: 12px, $lh: 1.2);
    display: block;
    margin-bottom: 4px;
    color: var(--primary-text-color);
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px Solid rgba(33, 33, 33, 0.2);
    ;
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color var(--transition);

    &:focus {
        outline: none;
        border-color: var(--accent-color);
        }
}

.modal-form-field {
    margin-bottom: 10px;
    margin-top: 12px;
    border: 1px;
}

.form-title {
    margin-bottom: 12px;
    text-align: center;
    height: 23px;
   font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-head-text);
    
        
}

.modal-form-input-icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: var(--secondary-text-color);
    transition: fill var(--transition);

    .modal-form-input:focus + & {
        fill: var(--accent-color);
        }

}

.modal-form-input-wrapper {
    position: relative;
    display: block;
}

.modal-form-message {
    resize: none;
    width: 100%;
    height: 100px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--transition);

    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }

    &::placeholder {
        font-size: 12px;
        color: rgba(117, 117, 117, 0.5);
    }

}

.modal-form-chek-desc::before {
    display: block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--secondary-text-color);
    background: var(--primary-background-color);
    content: '';
    cursor: pointer;
    border-radius: 4px;
    margin-right: 8.38px;

    .modal-form-check:checked + & {
         background-color: rgb(33, 150, 243, 1);
        background-image: url(../images/vector.svg);
        box-shadow: var(--transition), background-image var(--transition);
        border-color: var(--accent-color);
        background-repeat: no-repeat;
        background-position: center;
        }
}
.modal-form-chek-desc {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.7;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;

    .modal-form-check:focus + &::before {
            outline: 1px solid rgb(33, 150, 243, 1);
        }
}

.link-modal {
    color: var(--accent-color);
}

.modal-form-sumbit {
    @include font($fs: 16px, $lh: 1.9);
    align-self: center;
    min-width: 200px;
    padding-left: 52px;
    padding-right: 52px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    border-radius: 4px;
    margin: 0 auto;
    letter-spacing: 6%;

    border: 1px solid rgba(0, 0, 0, 0.15);

    color: var(--accent-second-color);
    background-color: var(--accent-color);
    transition: color var(--transition), background-color var(--transition);

    &:hover,
    &:focus {
        background-color: #188ce8;
        color: var(--accent-second-color);
        }
}
@media screen and (min-width: 768px) {
    .modal {
            width: 450px;
        }
}
@media screen and (min-width: 1200px){
    .modal {
            width: 528px;
        }
} 